@media (min-width: 768px) {

    .project-title-wrapper {

        position: relative;

        width: 85%;

        background-color: rgba(28, 25, 29, 0.61);

        height: 120px;

        margin-left: 15%;
		


    }
	

    .project-title-image {

        position: absolute;

        border: 3px solid white;

        border-radius: 50%;

        overflow: hidden;

        left: -75px;

        top: -15px;

        width: 150px;

        height: 150px;



    }

    .project-title-image img {

        width: 150px;

        height: auto;

    }



    .project-title {

        position: absolute;

        left: 100px;

        text-transform: none;

        margin-top: 20px;

    }
	
	/*SW: library css*/
	.podcast-card .library-title {
		font-size: 24px;
		font-size: 2.4rem;
		font-weight: 700;
		text-transform: uppercase;
	}
	
	.library-left-content { float: left; width: 10% }
	.library-right-content { margin-left: 10% }

}



@media (min-width: 481px) and (max-width: 767px) {

    .project-title-wrapper {

        position: relative;

        width: 85%;

        background-color: rgba(28, 25, 29, 0.61);

        height: 80px;

        margin-left: 10%;

    }

    .project-title-image {

        position: absolute;

        border: 3px solid white;

        border-radius: 50%;

        overflow: hidden;

        left: -35px;

        top: -10px;

        width: 100px;

        height: 100px;



    }

    .project-title-image img {

        width: 100px;

        height: auto;

    }



    .project-title {

        position: absolute;

        left: 100px;

        text-transform: none;

        margin-top: 10px;

    }

    .project-title h1 {

        font-size: 24px;

    }

    .project-title h4 {

        font-size: 18px;

    }
	
	/* modified content */
	.library-icon { display: inline; float: left; padding-right: 20px }
}



@media (max-width: 480px) {

    .project-title-wrapper {

        width: 100%;

        background-color: rgba(28, 25, 29, 0.61);

        height: auto;

        padding: 10px 10px 10px 15px;

    }



    .project-title {

        text-transform: none;

        margin-top: 20px;

    }



    .project-title-image img {

        display: none;

    }
	
	/*SW: library css */
	.library-icon { resize: both }
	.library-left-content { text-align: center }
	h2 { text-align: center }
	.library-date { text-align: center }

}
